<div class="row">
  <div class="col-md-12">
    <h1>
      Messages
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <% if @threads.any? %>
        <% @threads.each do |message| %>
          <% active_class = "active" if message.partner(current_user) == @partner %>
          <% path = messages_path(selected: message.partner(current_user).id) %>
          <%= link_to path, class: "list-group-item #{active_class}" do %>
            <h3 class="list-group-item-heading"><%= message.partner(current_user).name %></h3>
            <p class="list-group-item-text"><%= message.message %></p>
          <% end %>
        <% end %>
      <% else %>
        <p class="text-muted">No conversations.</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @messages %>
          <h2>Conversation with <%= link_to @partner.name, user_profile_path(@partner) %></h2>
          <div class="messages message-container" data-partner="<%= @partner.id %>">
            <% @messages.each do |message| %>
              <div class="message <%= message.sender == current_user ? "sent" : "received" %>">
                <div class="content"><%= message.message %></div>
              </div>
            <% end %>
          </div>
          <input type="text" class="message-input form-control" data-receiver="<%= @partner.id %>" />
        <% else %>
          <p class="text-muted">No messages.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
