<div class="box">
  <div class="row">
    <div class="col-md-12">
      <h1>New account</h1>

      <p class="lead">Not signed up yet? A fantastic new world of art, fashion and more is just a few clicks away!</p>
      <hr>

      <%= devise_error_messages! %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col-md-6">
            <h3><span class="badge badge-default">1</span> Login details</h3>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password do %>
                Password <span class="text-muted">(<%= @minimum_password_length %> characters or more)</span>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <h3><span class="badge badge-default">2</span> Personal details</h3>

            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_area :address, class: "form-control" %>
              <p class="help-block">We need this so that sellers know where to send the products you buy.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h3><span class="badge badge-default">3</span> Go for it!</h3>
            <%= f.submit "Register", class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
