<div class="row">
  <div class="col-md-12">
    <div class="box">

      <div class="row">
        <div class="text-center">
          <h1>New Order</h1>
        </div>
        <hr>
        <div class="col-md-3">
          <%= image_tag @product.pictures.first ? @product.pictures.first.picture.url : "products/default.png", alt: @product.name, class:"img-responsive"%>
        </div>
        <div class="col-md-9">
          <h4><%= @product.name %></h4>
          <p> <%= @product.description %> </p>
          <div class="well well-sm">
              <h5 class=>Select Quantity: <%= select_tag(:select_quantity, options_for_select(1..@product.quantity)) %></h5>
          </div>
        <div class="table-responsive">
            <table class="table">
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Subtotal  $NZD</th>
                        <th class="text-right"><%= "#{number_with_precision(@subtotal, :precision => 2)}" %></th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Shipping and Handling  $NZD</th>
                        <th class="text-right"><%= "#{number_with_precision(@shipping, :precision => 2)}"%></th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Total  $NZD</th>
                        <th class="text-right"><%= "#{number_with_precision(@shipping + @subtotal, :precision => 2)}" %></th>
                    </tr>
                </tfoot>
            </table>
        </div>
      </div>
    </div>
        <div class="row addresses">
            <div class="col-md-6">
              <h2>Shipping Address <button class="btn btn-default btn-sm">Edit</button></h2>
                <%= current_user.name %>
                <%= simple_format(current_user.address) %>
            </div>
            <div class="col-md-6">
                <h2>Payment Details <button class="btn btn-default btn-sm">Edit</button></h2>
                <p>Card Holder's Name: <%= current_user.card_name %>
                <br>Credit Card: <%= current_user.card_number %>
                <br>Expiry Date (MM/YYYY): <%= current_user.expiration_month %>/<%= current_user.expiration_year %>
                <br>CVC: <%= current_user.security_code %></p>
            </div>
        </div>
        <hr>
        <div class="text-center">
          <button class="btn btn-primary btn-lg">Confirm Order</button>
        </div>
    </div>
  </div>
</div>
