<div class="row">
  <div class="col-md-12">
    <h1>
      Messages
    </h1>
  </div>
</div>
<div class="row message-threads">
  <% if @message_threads.any? %>
    <div class="col-md-4">
      <div class="list-group">
        <% @message_threads.each do |thread| %>
          <% active_class = "active" if thread == @message_thread %>
          <%= link_to message_thread_path(thread), class: "list-group-item #{active_class}" do %>
            <h3 class="list-group-item-heading"><%= thread.partner(current_user).name %></h3>
            <p class="list-group-item-text">
              <em><%= thread.commission.try!(:name) || "No commission" %></em> &bull;
              <%= truncate(thread.messages.last.try!(:message)) %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div style="position:relative">
        <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Start another conversation <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @message_threads.each do |thread| %>
            <li><a href="#"><%= thread.partner(current_user).name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default message-container" data-thread="<%= @message_thread.id %>">
        <% partner = @message_thread.partner(current_user) %>
        <div class="panel-heading divided">
          <div class="pull-right">
            <% if !@message_thread.commission && current_user == @message_thread.seller %>
              <%= link_to new_commission_path(message_thread_id: @message_thread.id), class: "btn btn-link" do %>
                <span class="glyphicon glyphicon-plus"></span> Create commission
              <% end %>
            <% end %>
            <%= link_to message_thread_path(@message_thread), method: "delete", class: "btn btn-link" do %>
              <span class="glyphicon glyphicon-trash"></span>
              <span class="sr-only">Delete this thread</span>
            <% end %>
          </div>
          <h2>
            Conversation as <%= current_user == @message_thread.buyer ? "buyer" : "seller" %> with
            <%= link_to partner.name, user_profile_path(partner) %>
          </h2>
          <%= render partial: "commission_full", locals: { commission: @message_thread.commission } %>
        </div>
        <div class="panel-body">
          <div class="messages">
            <% @message_thread.messages.each do |message| %>
              <div class="message <%= message.sender == current_user ? "sent" : "received" %>">
                <div class="content"><%= message.message %></div>
              </div>
            <% end %>
          </div>
          <% if @message_thread.deleted_by %>
            <p class="text-center text-danger">This thread was closed by the other party.</p>
          <% else %>
            <textarea rows="2" class="message-input form-control" data-thread="<%= @message_thread.id %>" placeholder="Type a message ..."></textarea>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-md-12">
      <p class="text-center text-muted">
        <em>Messages are a great way to arrange a commission or order a custom item. To start a conversation, go to any user's profile page.</em>
      </p>
    </div>
  <% end %>
</div>
