<li class="media">
    <%= link_to notification_path(notification), class: "btn btn-link pull-right", method: 'delete' do %>
    <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  <div class="media-left">
    <%= image_tag "notification/copy.png" %>
  </div>
    <div class="media-body">
        <h2 class = "media-heading"> Someone wants to buy a copy of one of your items!</h2>
    <h3>
        <%= "#{notification.about_user.name} wants #{notification.commission.name}" %></h3>
    <%= link_to "View details", commission_path(notification.commission), class: "btn btn-primary" %>
    <%= link_to "Accept", approve_commission_path(notification.commission), class: "btn btn-success", method: "post", return_to: "notification_path" %>
    <%= link_to "Decline", commission_path(notification.commission), class: "btn btn-danger", method: "delete", return_to: "notification_path" %>
</div>
</li>
