<li class="media">
    <%= link_to notification_path(notification), class: "btn btn-link pull-right", method: 'delete' do %>
    <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  <div class="media-left">
    <%= image_tag "notification/sent.png" %>
  </div>
    <div class="media-body">
        <h2 class = "media-heading"> An order is on its way!</h2>
    <h3>
        <%= "#{notification.about_user.name} shipped #{notification.commission.name}" %></h3>
    <%= link_to "View details", commission_path(notification.commission), class: "btn btn-primary" %>
    <%= link_to "Review Seller", user_profile_path(notification.about_user), class: "btn btn-default" %>
</div>
</li>
