<li class="media">
    <%= link_to notification_path(notification), class: "btn btn-link pull-right", method: 'delete' do %>
    <i class="glyphicon glyphicon-remove"></i>
    <% end %>

  <div class="media-left">
    <%= image_tag notification.about_user.profile_picture.url(:thumb), class: "profile-picture" %>
  </div>

<div class="media-body">
    <h3 class = "media-heading">
      <% if notification.user.followings.any? { |following| following.id == notification.about_user.id } %>
        <%= "Someone followed you back" %>
      <% else %>
        <%= "Someone followed you" %>
      <% end %>
    </h3>

    <h4> <%= "#{notification.about_user.name}, #{notification.about_user.country_name}" %> </h4>

    <% if notification.user.followings.any? { |following| following.id == notification.about_user.id } %>
       <%= link_to "Follow back", friendships_path(:following_id => notification.about_user.id), :method => :post, class: "btn btn-primary"%>
       <%= link_to "View profile", user_profile_path(notification.about_user), class: "btn btn-default"  %>
       <% else %>
       <%= link_to "View profile", user_profile_path(notification.about_user), class: "btn btn-primary"  %>
    <% end %>
</div>
</li>
