<li class="media">
    <%= link_to notification_path(notification), class: "btn btn-link pull-right", method: 'delete' do %>
    <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  <div class="media-left">
    <%= image_tag notification.commission.pictures.first ? notification.commission.pictures.first.picture.url(:thumb) : "products/default-thumb.png" %>
  </div>
<div class="media-body">
    <h3 class = "media-heading">
        <%= "#{notification.about_user.name} just listed a new product" %>
    </h3>
    <h4>
        <%= "#{notification.commission.name}  #{price_display(notification.commission)}" %>
    </h4>
    <p>
        <%= notification.commission.description %>
    </p>
    <%= link_to "View item", commission_path(notification.commission), class: "btn btn-primary" %>
    <%= link_to "View profile", user_profile_path(notification.about_user), class: "btn btn-default" %>
</div>
</li>
