<li class="media">
  <div class="media-left">
    <%= image_tag "copy.png" %>
  </div>
    <div class="media-body">
        <h2 class = "media-heading">
    Someone wants to buy a variation of one of your items!</h2>
    <h3>
        <%= "#{notification.about_user.name} wants #{notification.commission.name}" %></h3>
        <%= link_to "View proposal", private_commission_path(notification.commission), class: "btn btn-primary" %>
        <%= link_to "Accept", approve_commission_path(notification.commission), class: "btn btn-success", method: "post" %>
        <%= link_to "Decline", commission_path(notification.commission), class: "btn btn-danger", method: "delete" %>
</div>
</li>
