<div class="activity-feed">
    <div class="col-md-3">
        <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
                <h3 class="panel-title">Colours
                    <a class="btn btn-xs btn-danger pull-right" href="#">
                        <i class="fa fa-times-circle"></i>
                        Clear</a>
                </h3>
            </div>

            <div class="panel-body">

                <form>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="colour white"></span>
                                White (14)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="colour blue"></span>
                                Blue (10)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="colour green"></span>
                                Green (20)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="colour yellow"></span>
                                Yellow (13)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="colour red"></span>
                                Red (10)
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-default btn-sm btn-primary">
                        <i class="fa fa-pencil"></i>
                        Apply</button>\
                </form>

            </div>
        </div>
    </div>
    <!-- /.col-md-3 -->
    <div class="col-md-9">
        <div class="box">
            <ul class="media-list">
                <% @notifications.each do |notification| %>
                <%= render partial: "notifications/new_follower_notification", locals: {notification: notification} if notification.state == "new follower" %>
                <%= render partial: "notifications/product_listed_notification", locals: {notification: notification} if notification.state == "product listed" %>
                <%= render partial: "notifications/copy_requested_notification", locals: {notification: notification} if notification.state == "copy requested" %>
                <%= render partial: "notifications/similar_requested_notification", locals: {notification: notification} if notification.state == "similar requested" %>
                <%= render partial: "notifications/new_requested_notification", locals: {notification: notification} if notification.state == "new requested" %>
                <%= render partial: "notifications/request_accepted_notification", locals: {notification: notification} if notification.state == "request accepted" %>
                <%= render partial: "notifications/request_denied_notification", locals: {notification: notification} if notification.state == "request denied" %>
                <%= render partial: "notifications/new_review_notification", locals: {notification: notification} if notification.state == "new review" %>
                <%= render partial: "notifications/payment_received_notification", locals: {notification: notification} if notification.state == "payment received" %>
                <% end %>
            </ul>
        </div>
    </div>
    <!-- /.col-md-9 -->
</div>
<!-- /.activity-feed -->
