<div class="col-md-12">

    <ul class="breadcrumb">
        <li><a href="/">Home</a>
        </li>
        <li>My Listings</li>
    </ul>

</div>

<%= render :partial => "customersection"%>

<div class="col-md-9" id="customer-orders">
    <div class="box">
        <h1>My Listings</h1>

        <p class="lead">Your listings in one place.</p>

        <hr>
        <% if @products && @products.any? %>
          <div class="table-responsive">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Listed On</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                    <% @products.each do |product| %>
                      <tr>
                        <td><%= product.name %></td>
                        <td><%= product.created_at.strftime "%d %B %Y" %></td>
                        <td style="padding-left: 10px">
                          <%= link_to "View Product", product, class: "btn btn-primary" %>
                          <%= link_to "Edit Product", edit_product_path(product), class: "btn btn-default" %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
          </div>
        <% else %>
        <p>You have no curent listings</p>
        <% end %>
    </div>
</div>