<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="row">
        <div class="text-center">
          <h1>Pay for <%= @commission.name %></h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
              <h2>Shipping Address <button class="btn btn-default btn-sm">Edit</button></h2>
                <%= current_user.name %>
                <%= simple_format(current_user.address) %>
            </div>
            <div class="col-md-6">
                <h2>Payment Details <button class="btn btn-default btn-sm">Edit</button></h2>
                <p>Card Holder's Name: <%= current_user.card_name %>
                <br>Credit Card: <%= current_user.card_number %>
                <br>Expiry Date (MM/YYYY): <%= current_user.expiration_month %>/<%= current_user.expiration_year %>
                <br>CVC: <%= current_user.security_code %></p>
            </div>
        </div>
      </div>
        <hr>
        <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="text-left">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-right">
              <%= submit_tag "Pay Now", class: "btn btn-success" %>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
