<div class="row">
  <div class="col-md-12">

    <ul class="breadcrumb">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/my_commissions">My Commissions</a></li>
      <li><%= link_to @commission.name, private_commission_path(@commission.id) %></li>
      <li>Pay Now</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="row">
        <div class="text-center">
          <h1>Pay for <%= @commission.name %></h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
              <h2>Shipping Address <button class="btn btn-default btn-sm">Edit</button></h2>
                <%= current_user.name %>
                <%= simple_format(current_user.address) %>
            </div>
            <div class="col-md-6">
                <h2>Payment Details <button class="btn btn-default btn-sm">Edit</button></h2>
                <p>Card Holder's Name: <%= current_user.card_name %>
                <br>Credit Card: <%= current_user.card_number %>
                <br>Expiry Date (MM/YYYY): <%= current_user.expiration_month %>/<%= current_user.expiration_year %>
                <br>CVC: <%= current_user.security_code %></p>
            </div>
        </div>
      </div>
      <hr>
      <div class="row">
      <div class="col-md-12">
        <div class="col-md-10">
          <h3 class="text-right">Total:</h3>
        </div>
        <div class="col-md-2">
          <h3 class="text-right"><%= "$#{number_with_precision(@commission.price, :precision => 2)}" %></h3>
        </div>
      </div>
    </div>
        <hr>
        <div class="row">
        <div class="col-md-12">
          <%= form_tag(pay_now_users_path) do %>
          <%= hidden_field_tag "seller_id", @commission.seller_id %>
          <%= hidden_field_tag "buyer_id", current_user.id %>
          <%= hidden_field_tag "commission_id", @commission.id %>
          <div class="col-md-6">
            <div class="text-left">
              <%= link_to "Cancel", private_commission_path(@commission.id), class: "btn btn-warning" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-right">
              <%= submit_tag "Pay Now", class: "btn btn-success" %>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>
  </div>
</div>
