<div class="row">
   <div class="user-profile col-md-12">
      <div class="profile-header" style="background-image: <%="url(#{@user.profile_background.url})"%>">
        <img class="profile-picture" alt="Profile picture" src="<%= @user.profile_picture.url %>">
        <h1 class="name"><%= @user.name %></h1>
        <div class="info">
           <%= @user.country_name %>
           <span class="divider" aria-hidden="true">&bull;</span>
           <span class="rating">
           <%= user_rating(@user) %>
           (<%= @reviews.size %> ratings)
           <br>
        </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="profile-buttons panel panel-default text-right">
            <% if @user == current_user %>
              <%= link_to "Change photo",  edit_user_registration_path(@user), class: "btn btn-default "%>
            <% else %>
                 <% if user_signed_in? && @user != current_user %>
                    <% if current_user.followings.any? { |following| following.id == @user.id } %>
                      <%= link_to "Unfollow", friendship_path(:following_id => @user), method: :delete, data: { confirm: "Are you sure you want to unfollow #{@user.name}?" }, class: "btn btn-danger pull-left"%>
                   <%else%>
                    <%= link_to "Follow", friendships_path(:following_id => @user), :method => :post, class: "btn btn-success pull-left"%>
                   <%end%>
                <%end%>
                  <%= link_to "Request custom commission", custom_commission_path(@user.id), class: "btn btn-primary"%>
                  <button class="btn btn-default start-message" data-seller="<%= @user.id %>">
                  <span class="glyphicon glyphicon-comment"></span>
                  Send <%= @user.name %> a message
                  </button>
            <% end %>
            </div>
         </div>
      </div>
      <div class="row">
         <!----Left panel---->
         <div class="col-md-6">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">Listings</h3>
               </div>

               <div class="panel-body">
                  <ul class="media-list centered-content headings-only">
                     <% if @user.commissions_as_seller.publicly_visible.length > 0 %>
                        <% @user.commissions_as_seller.publicly_visible.each do |product| %>
                           <li class="media">
                              <div class="media-left">
                                 <a href="#">
                                    <%= image_tag product.pictures.first ? product.pictures.first.picture.url : "products/default.png", size: "64x64", :class => "media-object"%>
                                  </a>
                              </div>
                              <div class="media-body">
                                 <h4 class="media-heading"><%= link_to product.name, product %></h4>
                              </div>
                           </li>
                        <% end %>
                     <% else %>
                        <p class="text-center text-muted"><%=@user.first_name%> has no current listings</p>
                     <% end %>
                  </ul>
               </div>
            </div>

            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">Following</h3>
               </div>
               <div class="panel-body">
                     <% if @user.followings.length > 0 %>
                        <ul class="media-list">
                        <% @user.followings.each do |follower| %>
                           <li class="media">
                              <div class="media-left">
                                 <a href="#">
                                 <%= image_tag follower.profile_picture.url, size: "64x64", :class => "media-object"%>
                                 </a>
                              </div>
                              <div class="media-body">
                                 <h4 class="media-heading"><%= link_to follower.name, user_profile_path(follower) %></h4>
                                 <p><%=follower.username%></p>
                              </div>
                           </li>
                        <% end %>
                        </ul>
                     <% else %>
                     <p class="text-center text-muted"><%=@user.name%> is not currently following any users<p>
                     <% end %>
               </div>
            </div>

         </div>
         <!----Right panel---->
         <div class="col-md-6">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">Leave A Review</h3>
               </div>
               <div class="panel-body">
                  <% if user_signed_in? && @user.reviews.where(:reviewer => current_user).length < current_user.commissions_as_buyer.shipped.where(:seller => @user).length %>
                     <%= form_for(@review) do |f| %>
                       <% if @review.errors.any? %>
                         <div id="error_explanation">
                           <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

                           <ul>
                           <% @review.errors.full_messages.each do |message| %>
                             <li><%= message %></li>
                           <% end %>
                           </ul>
                         </div>
                       <% end %>

                       <div class="form-group">
                           <%= f.label :comment, class: "sr-only"%>
                           <%= f.text_area :comment, placeholder: "Enter a comment (Optional)", class: "form-control" %>
                       </div>
                       <div class="form-group">
                           <%= f.label :rating, class: "sr-only"%>
                           <%= f.select :rating, options_for_select([["★★★★★", 5],["★★★★", 4],["★★★", 3],["★★", 2],["★", 1]]),required: true%>
                       </div>
                       <div class="form-group">
                           <%= f.label :user_id, class: "sr-only"%>
                           <%= f.hidden_field :user_id, value: @user.id %>
                       </div>
                       <div class="form-group">
                           <%= f.label :reviewer_id, class: "sr-only"%>
                           <%= f.hidden_field :reviewer_id, value: current_user.id %>
                       </div>
                       <div class="actions">
                         <%= f.submit "Leave Review", class: "btn btn-primary"%>
                       </div>
                     <% end %>

                  <% else %>
                     <p class="text-center text-muted">You must place an order with <%=@user.name%> before leaving a review</p>
                  <% end %>
               </div>
            </div>

            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">Reviews</h3>
               </div>
               <div class="panel-body">
                  <ul class="media-list">
                     <% if @user.reviews.length > 0 %>
                        <% @user.reviews.each do |review| %>
                        <li class="media">
                           <div class="media-left">
                              <a href="<%=user_profile_path(review.reviewer)%>">
                              <%= image_tag review.reviewer.profile_picture.url, size: "64x64", :class => "media-object"%>
                              </a>
                           </div>
                           <div class="media-body">
                              <h4 class="media-heading">
                                 <a href="<%=user_profile_path(review.reviewer)%>">
                                  <%=review.reviewer.first_name%>
                                 </a>
                                 <% review.rating.times do %>
                                    <span class="glyphicon glyphicon-star"></span>
                                 <% end %>
                              </h4>
                              <p> <%=review.comment%></p>
                           </div>
                        </li>
                        <% end %>
                     <% else %>
                        <p class="text-center text-muted"><%=@user.first_name%> has no reviews</p>
                     <% end %>
                  </ul>
               </div>
            </div>

         </div>
      </div>

   </div>
</div>
