<!-- Modal -->
<div id="requestSimilar" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Request Something Similar To <%= @commission.name %>?</h3>
      </div>
      <% if user_signed_in? %>
      <%= form_tag(make_similar_commissions_path) do %>
      <div class="modal-body">
        <p> Seller: <%= link_to @seller.name, user_profile_path(@seller.id) %> </p>
        <p> Price: <strong>To Be Determined</strong></p>
        <p> Current Description: <%= @commission.description %> </p>
        <%= hidden_field_tag "seller_id", @seller.id %>
        <%= hidden_field_tag "buyer_id", current_user.id %>
        <%= hidden_field_tag "commission_id", @commission.id %>
      <div class="row">
      <div class="col-md-12">
      <%= label_tag "custom_info", "Extra Requirements:" %>
      <%= text_area_tag "custom_info", nil,
        placeholder: "Specify your requirements here (e.g. quantity, colour etc...)",
        class: "form-control", rows:3 %>
      </div>
    </div>
    </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="text-left">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-right">
                <%= submit_tag "Send Request", class: "btn btn-success" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% else %>
      <div class="modal-body">
      <h5> You need to <%= link_to "Login", new_user_session_path %> to be able to request a commission.
        If you do not have an account, you can register <%= link_to "here", new_user_registration_path %></h5>
      </div>
      <% end %>
    </div>

  </div>
</div>
