<%= form_for(@commission) do |f| %>
<%if @commission.errors.any? %>
  <div id="error_explanation">
      <h2><%= pluralize(@commission.errors.count, "error") %>
      prohibited this commission from being saved:</h2>
      <ul>
          <%@commission.errors.full_messages.each do |message| %>
          <li><%= message %></li><%end %>
      </ul>
  </div>
<%end %>

<div class="row">
  <div class="col-md-6">

    <div class="form-group has-feedback">
        <%= f.label :name, class: "sr-only"%>
        <%= f.text_field :name, placeholder: "Commission Name", required: true, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :description,class: "sr-only" %>
        <%= f.text_area :description, placeholder: "Commission Description", class: "form-control", rows: 12 %>
    </div>
    <div class="form-group">
        <%= f.label :price, class: "sr-only"%>
        <%= f.number_field :price, placeholder: "Price", required: true, :step => 0.01, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :category_id, class: "sr-only"%>
      <%= f.select(:category_id, @categories.collect {|c| [c.name, c.id]}, {},  :class => "form-control", :prompt => "Choose category") %>
    </div>

    <% if @commission.buyer || !edit %>
      <%= f.hidden_field :public %>
    <% else %>
      <div class="form-group">
          <%= f.label :public, "Make public" %>
          <%= f.check_box :public %>
      </div>
    <% end %>

    <%= f.hidden_field :seller_id, value: current_user.id %>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= image_tag @commission.pictures.first ? @commission.pictures.first.picture.url(:medium) : "products/default.png", class:"img-responsive"  %>
      <%= f.label :picture, class: "sr-only"%>
      <%= f.file_field :pictures, {accept: 'image/png,image/jpeg', multiple: true} %>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="text-left">
        <%= link_to 'Cancel', user_dashboard_path, :class => 'btn btn-warning' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-right">
        <%=f.submit class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>

<%end %>
