<div class="container">
	<div class="row">
	    <div class="col-md-12">
	        <div class="box without-spacing">
							<h1>Custom Commission Request</h1>
              <h4>This request will be sent to <%= link_to @seller.name, user_profile_path(@seller.id) %></h4>

	            <%if user_signed_in?%>
              <%= form_tag(make_custom_commissions_path) do |f| %>
              <div class="row">
                <div class="col-md-12">

                  <div class="form-group has-feedback">
                      <%= label_tag :name, nil, class: "sr-only"%>
                      <%= text_field_tag :name, nil, placeholder: "Commission Name", required: true, class: "form-control" %>
                  </div>
                  <div class="form-group">
                      <%= label_tag :description,  nil, class: "sr-only" %>
                      <%= text_area_tag :description, nil, placeholder: "Commission Description", class: "form-control", rows: 8 %>
                  </div>
                  <div class="form-group">
                      <%= label_tag :price, nil, class: "sr-only"%>
                      <%= number_field_tag :price, nil, placeholder: "Estimated Price", required: true, :step => 0.01, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= label_tag :category_id, nil, class: "sr-only"%>
                    <%= select_tag :category_id, options_for_select([1, 2]), :class => "form-control", :prompt => "Choose category" %>
                  </div>

                  <%= hidden_field_tag "buyer_id", current_user.id %>
                  <%= hidden_field_tag "seller_id", @seller.id %>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="text-left">
                      <%= link_to 'Cancel', user_profile_path(@seller.id), :class => 'btn btn-warning' %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="text-right">
                      <%= submit_tag "Send Request", class: "btn btn-success" %>
                    </div>
                  </div>
                </div>
              </div>

              <%end %>

	 						<% end %>
	        </div>
	    </div>
	</div>
</div>

<script type="text/javascript">

	var newOptions = {"Option 1": "value1",
	  "Option 2": "value2",
	  "Option 3": "value3"
	};

	var $el = $("#subcategory_select");
	$el.empty();

	$.each(newOptions, function(value,key) {
	  $el.append($("<option></option>").attr("value", value).text(key));
	});

</script>
