<div class="row">
  <%= render partial: 'categories/breadcrumb' %>
</div>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'categories/category_sidebar' %>
  </div>

  <div class="col-md-9">
    <div class="row" id="productMain">

      <%= render partial: "show_common" %>
      <% unless @commission.seller == current_user %>
      <button class="btn btn-default btn-block toggle-section hidden" data-target="#similar_items">
        <span class="collapsed-only glyphicon glyphicon-menu-down"></span>
        <span class="expanded-only glyphicon glyphicon-menu-up"></span>

        Similar items
      </button>

      <div id="similar_items" class="row">
        <h3>You may also like these products</h3>
        <% @similar_items.each do |similar_item| %>
        <div class="col-md-4">
          <div class="commission same-height">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <%= link_to commission_path(similar_item.id) do %>
                  <%= image_tag similar_item.pictures.first ? similar_item.pictures.first.picture.url(:small) : "products/default.png", alt: "", class:"img-responsive" %>
                  <% end %>
                </div>
                <div class="back">
                  <%= link_to commission_path(similar_item.id) do %>
                  <%= image_tag similar_item.pictures.second ? similar_item.pictures.second.picture.url(:small) : similar_item.pictures.first ? similar_item.pictures.first.picture.url(:small) : "products/default.png", alt: "", class:"img-responsive" %>
                  <% end %>
                </div>
              </div>
            </div>
            <%= link_to commission_path(similar_item.id), class: "invisible" do %>
            <%= image_tag similar_item.pictures.first ? similar_item.pictures.first.picture.url(:small) : "products/default.png", alt: "", class:"img-responsive" %>
            <% end %>
            <div class="text">
              <h3><%= similar_item.name %></h3>
              <p class="price"><%= price_display(similar_item) %></p>
            </div>
          </div>
          <!-- /.product -->
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <!-- /.col-md-9 -->
</div>
