<div class="row">
  <%= render partial: 'categories/breadcrumb' %>
</div>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'categories/category_sidebar' %>
  </div>

  <div class="col-md-9">
    <div class="row" id="productMain">
      <%= render partial: "show_common" %>

      <div class="row">
        <div class="col-md-3">
          <div class="box">
            <h3>You may also like these products</h3>
          </div>
        </div>
        <% @similar_items.each do |similar_item| %>
        <div class="col-md-3">
          <div class="commission same-height">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <%= link_to commission_path(similar_item.id) do %>
                  <%= image_tag similar_item.pictures.first ? similar_item.pictures.first.picture : "products/default.png", alt: "", class:"img-responsive" %>
                  <% end %>
                </div>
                <div class="back">
                  <%= link_to commission_path(similar_item.id) do %>
                  <%= image_tag similar_item.pictures.second ? similar_item.pictures.second.picture : similar_item.pictures.first ? similar_item.pictures.first.picture : "products/default.png", alt: "", class:"img-responsive" %>
                  <% end %>
                </div>
              </div>
            </div>
            <%= link_to commission_path(similar_item.id), class: "invisible" do %>
            <%= image_tag similar_item.pictures.first ? similar_item.pictures.first.picture : "products/default.png", alt: "", class:"img-responsive" %>
            <% end %>
            <div class="text">
              <h3><%= similar_item.name %></h3>
              <p class="price"><%= "$#{number_with_precision(similar_item.price, :precision => 2)}" %></p>
            </div>
          </div>
          <!-- /.product -->
        </div>
        <% end %>
      </div>
    </div>
  <!-- /.col-md-9 -->
</div>
