<div class="commissions">
    <div class="row commissions">
        <% @commissions.each do |commission| %>
        <div class="col-md-4 col-sm-6">
            <div class="commission">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <%= link_to commission_path(commission.id) do %>
                            <%= image_tag commission.pictures.first ? commission.pictures.first.picture.url : "products/default.png", alt: "", class:"img-responsive" %>
                            <% end %>
                        </div>
                        <div class="back">
                            <%= link_to commission_path(commission.id) do %>
                            <% image_tag commission.pictures.second ? commission.pictures.second.picture.url : commission.pictures.first ? commission.pictures.first.picture.url : "products/default.png", alt: "", class:"img-responsive" %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <%= link_to commission_path(commission.id), class: "invisible" do %>
                    <%= image_tag commission.pictures.first ? commission.pictures.first.picture.url : "products/default.png", alt: "", class:"img-responsive" %>
                <% end %>
                <div class="text">
                    <h3>
                        <%= link_to commission.name, commission_path(commission.id) %>
                    </h3>
                    <p class="price"><%="$#{number_with_precision(commission.price, :precision => 2)}"%></p>
                    <p class="buttons">
                        <%= link_to "View detail", commission_path(commission.id), class:"btn btn-default" %>
                        <%= link_to "Buy Now", commission_checkout_path(commission.id), class:"btn btn-primary" %>
                    </p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <%= paginate @commissions %>
</div>
