<div class="row">

  <%= render partial: 'breadcrumb' %>

  <div class="col-md-3">
    <%= render partial: 'category_sidebar' %>
  </div>

  <div class="col-md-9">
    <div class="box category-title">
      <h1><%= @category.name %></h1>
    </div>
    <%= render partial: 'top_seller_bar' %>

    <%= render partial: 'info_bar' %>

    <%= render partial: 'commission_view' %>

  </div>
</div>
