<!-- *** FOOTER ***
_________________________________________________________ -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
                <h4>User Section</h4>

                <ul>
                    <% if user_signed_in? %>
                      <li>
                        <%= link_to "Account settings", show_user_registration_path %>
                      </li>
                      <li>
                        <%= link_to "Order History", orders_path %>
                      </li>
                      <li>
                        <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
                      </li>
                    <% else %>
                      <li>
                        <%= link_to "Login", new_user_session_path %>
                      </li>
                      <li>
                        <%= link_to "Register", new_user_registration_path %>
                      </li>
                    <% end %>
                </ul>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>

            <div class="col-md-4 text-left">
                <h4>Browse</h4>
                <ul>
                <% Category.first.root.children.each do |category| %>
                <li><%= link_to category.name.titleize, category %></li>
                <% end %>
                </ul>


                <hr class="hidden-md hidden-lg">

          </div>

            <div class="col-md-4 text-left">

                <h4>About</h4>

                <ul>
                    <li><%= link_to "FAQ", about_faq_path %></li>
                    <li><%= link_to "Contact Us", about_contact_us_path %></li>
                </ul>

            </div>

        </div>
    </div>
</div>


<!-- *** COPYRIGHT ***
_________________________________________________________ -->
<div id="copyright">
    <div class="container">
        <div class="col-md-3">
            <p class="pull-left">© 2016 SWEN303</p>

        </div>
        <div class="col-md-9">
            <p class="pull-right">Template by <a href="http://bootstrapious.com/e-commerce-templates">Bootstrap Ecommerce Templates</a> with support from <a href="http://kakusei.cz">Designové předměty</a>
                <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
            </p>
        </div>
    </div>
</div>
<!-- *** COPYRIGHT END *** -->
