<!-- *** FOOTER ***
_________________________________________________________ -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>User Section</h4>

                <ul>
                    <% if user_signed_in? %>
                      <li>
                        <%= link_to "Dashboard", "#" %>
                      </li>
                      <li>
                        <%= link_to "Account settings", show_user_registration_path %>
                      </li>
                      <li>
                        <%= link_to "Order History", orders_path %>
                      </li>
                      <li>
                        <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
                      </li>
                    <% else %>
                      <li>
                        <%= link_to "Login", new_user_session_path %>
                      </li>
                      <li>
                        <%= link_to "Register", new_user_registration_path %>
                      </li>
                    <% end %>
                </ul>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Top Categories</h4>

                <h5>Category 1</h5>

                <ul>
                    <li><a href="category.html">...</a>
                    </li>
                    <li><a href="category.html">....</a>
                    </li>
                    <li><a href="category.html">......</a>
                    </li>
                </ul>

                <h5>Category 2</h5>
                <ul>
                    <li><a href="category.html">...</a>
                    </li>
                    <li><a href="category.html">....</a>
                    </li>
                    <li><a href="category.html">......</a>
                    </li>
                </ul>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Contact Details</h4>

                <p><strong>Victoria University of Wellington</strong>
                    <br>Victoria University
                    <br>PO Box 600
                    <br>Wellington 6140
                    <br>NEW ZEALAND
                </p>


            </div>
            <!-- /.col-md-3 -->



            <div class="col-md-3 col-sm-6">

                <h4>Mailing list</h4>

                <p class="text-muted">Subscribe for updates</p>

                <form>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                    	    <button class="btn btn-default" type="button">Subscribe!</button>
                    	</span>
                    </div>
                </form>

            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->
<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© 2016 SWEN303</p>

        </div>
        <div class="col-md-6">
            <p class="pull-right">Template by <a href="http://bootstrapious.com/e-commerce-templates">Bootstrap Ecommerce Templates</a> with support from <a href="http://kakusei.cz">Designové předměty</a>
                <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
            </p>
        </div>
    </div>
</div>
<!-- *** COPYRIGHT END *** -->
