<div id="all">
  <div id="content">
    <div class="container">

    	<div class="box">
            <h1>Results for '<%= params[:search] %>'</h1>
        </div>

		<ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#products" aria-controls="home" role="tab" data-toggle="tab">Products</a></li>
		    <li role="presentation"><a href="#users" aria-controls="profile" role="tab" data-toggle="tab">Users</a></li>
	  	</ul>

	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="products">
	    	<%= render partial: 'categories/product_view' %>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="users">
	    	<% if @users.length == 0 %>
	    		<h3>No users found</h3>
			<%else%>
				<div class="table-responsive">
				  <table class="table table-hover">
				      <thead>
				          <tr>
				              <th></th>
				              <th>Name</th>
				              <th>Email</th>
				              <th></th>
				          </tr>
				      </thead>
				      <tbody>
				        <% @users.each do |user| %>
				          <tr>
				          	<td><%= image_tag user.profile_picture.url, size: "64x64", :class => "media-object"%></td>
				            <td><%= user.name %></td>
				            <td><%= user.email %></td>
				            <td style="padding-left: 10px">
				              <%= link_to "View user", user_profile_path(user), class: "btn btn-default"%>	
				            </td>
				          </tr>
				        <% end %>
				      </tbody>
				  </table>
				</div>
			<%end%>

	    </div>
	  </div>

    </div>
  </div>
</div>

<script type="text/javascript">

$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$('#myTabs a[href="#products"]').tab('show')
$('#myTabs a[href="#users"]').tab('show')

</script>