<div class="container">
	<div class="row">
	    <div class="col-md-12">
	        <div class="box without-spacing">

	            <h1>Sell Item</h1>

	            <%if user_signed_in?%>

		            <%= form_for(@product) do |f| %>
		            <%if @product.errors.any? %>
			            <div id="error_explanation">
			                <h2><%= pluralize(@product.errors.count, "error") %>
			                prohibited this product from being saved:</h2>
			                <ul>
			                    <%@product.errors.full_messages.each do |message| %>
			                    <li><%= message %></li><%end %>
			                </ul>
			            </div>
		            <%end %>

		            <div class="form-group">
		                <%= f.label :name, class: "sr-only"%>
		                <%= f.text_field :name, placeholder: "Product Name", required: true, class: "form-control" %>
		            </div>
		            <div class="form-group">
		                <%= f.label :description,class: "sr-only" %>
		                <%= f.text_area :description, placeholder: "Product Description", class: "form-control"  %>
		            </div>
		            <div class="form-group">
		                <%= f.label :price, class: "sr-only"%>
		                <%= f.number_field :price, placeholder: "Price", required: true, :step => 0.01, class: "form-control" %>
		            </div>
		            <div class="form-group">
		                <%= f.label :quantity, class: "sr-only"%>
		                <%= f.number_field :quantity, placeholder: "Quantity", required: true, value: "", class: "form-control" %>
		            </div>
		            <div class="form-group">
		            	<%= f.label :category_id, class: "sr-only"%>
		            	<%= f.select(:category_id, @categories.collect {|c| [c.name, c.id]}, {},  :class => "form-control", :prompt => "Choose category") %>
					</div>
					<!--<div class="form-group">
		            	<%= f.label :category_id, class: "sr-only"%>
		            	<%= f.select(:category_id, Category.first.root.children.first.children.collect {|c| [c.name, c.id]}, {}, :class => "form-control", :id => "subcategory_select", :prompt => "Product subcategory") %>
					</div>-->
		            <div class="form-group">
		                <%= f.label :pictures, class: "sr-only"%>
		                <%= f.file_field :pictures, {accept: 'image/png,image/jpeg', multiple: true} %>
		            </div>
		            <div class="form-group">
		                <%= f.label :seller_id, class: "sr-only"%>
		                <%= f.hidden_field :seller_id, value: current_user.id %>
		            </div>
		            <div>
		                <%= f.submit class: "btn btn-primary" %>
		            </div>

	 				<% end %>
	 			<% end %>

	            <br>
	            <%= link_to 'Back', products_path, :class => 'btn btn-warning' %>
	        </div>
	    </div>
	</div>
</div>

<script type="text/javascript">

	var newOptions = {"Option 1": "value1",
	  "Option 2": "value2",
	  "Option 3": "value3"
	};

	var $el = $("#subcategory_select");
	$el.empty();

	$.each(newOptions, function(value,key) {
	  $el.append($("<option></option>").attr("value", value).text(key));
	});

</script>
