<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SWEN303 Online Marketplace">
    <meta name="author" content="Divya Patel, Hannah Craighhead, Ben Evens, Jono Mingard">
    <meta name="keywords" content="Shopping, Online Marketplace, SWEN303, VUW">

    <title> Shopping </title>  <%# TODO: Change to website name  %>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application", media: 'all' %>
    <link href="/assets/theme/style.default.css" rel="stylesheet" id="theme-stylesheet">
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="favicon.png">
</head>

<body>
  <%= render "application/topbar" %>
  <%= render "application/navbar" %>
  <div id ="all">
    <%= render "application/content" %>
    <%= render "application/footer" %>
  </div>

<!-- *** SCRIPTS TO INCLUDE *** -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/assets/theme/jquery.cookie.js"></script>
<script src="/assets/theme/waypoints.min.js"></script>
<script src="/assets/theme/modernizr.js"></script>
<script src="/assets/theme/bootstrap-hover-dropdown.js"></script>
<script src="/assets/theme/owl.carousel.min.js"></script>
<script src="/assets/theme/front.js"></script>

</body>
</html>
