<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SWEN303 Online Marketplace">
    <meta name="author" content="Divya Patel, Hannah Craighhead, Ben Evens, Jono Mingard">
    <meta name="keywords" content="Shopping, Online Marketplace, SWEN303, VUW">

    <% if user_signed_in? %>
      <meta name="user_id" content="<%= current_user.id %>">
    <% end %>

    <title>
      <% if @page_title %>
        <%= @page_title %> - Uchic
      <% else %>
        Uchic - A Social Marketplace
      <% end %>
    </title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>

</head>

<body>
  <%= render "application/navbar" %>

  <div id ="all">
    <%= render partial: "application/alerts" %>
    <%= render "application/content" %>
    <%= render "application/footer" %>
  </div>

  <div id="message_popups" class="hidden-xs"></div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
